<%- include("../partials/header") %>
<div class="jumbotron text-center">
	<h1>
		Welcome To Yelp Camp
	</h1>
	<p>
		View our hand picked campgrounds all over the world
	</p>
	<button class="btn btn-primary">
		<a class="text-dark"href="/campgrounds/new">Add a new Campground</a>
	</button>
</div>
<div class="container">
	<div class="row">
		<%campgrounds.forEach(function(campground){%>
			<div class="col-lg-3 col-md-4 col-sm-6"><div class="thumbnail">
				<img src="<%= campground.image%>"width=200px height=200px>
				<h3><%=campground['name']%></h3>
				</div>
				<a href="/campgrounds/<%=campground._id%>"class="btn btn-primary">More Info</a>
			</div>
		<%});%>
	</div>
</div>
<%- include ("../partials/footer") %>